<div class="container" align=center>
  <header><b>
    <h1>Our Products</h1>
  </b></header>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <mat-card appMaterialElevation   matBadge="-30%" matBadgePosition="after" matBadgeColor="accent"  matBadgeSize="large">
          <img mat-card-image src="assets/Shoespics/product1.png">
          <div class="overlay">
            <button mat-stroked-button>Add to cart</button><br>
            <div style="padding: 7px;">
              <mat-icon><img src="assets/icons/share-22.svg"></mat-icon>
              <a >Share</a>
            </div>
            <div>
              <mat-icon><img src="assets/icons/heart2.svg"></mat-icon>
              <a >Like</a>
            </div>
          </div>
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image src="assets/Shoespics/product2.png">
          <div class="overlay">
            <button mat-stroked-button>Add to cart</button><br>
            <div style="padding: 7px;">
              <mat-icon><img src="assets/icons/share-22.svg"></mat-icon>
              <a >Share</a>
            </div>
            <div>
              <mat-icon><img src="assets/icons/heart2.svg"></mat-icon>
              <a >Like</a>
            </div>
          </div>
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image src="assets/Shoespics/product3.png">
          <div class="overlay">
            <button mat-stroked-button>Add to cart</button><br>
            <div style="padding: 7px;">
              <mat-icon><img src="assets/icons/share-22.svg"></mat-icon>
              <a >Share</a>
            </div>
            <div>
              <mat-icon><img src="assets/icons/heart2.svg"></mat-icon>
              <a >Like</a>
            </div>
          </div>
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image src="assets/Shoespics/product4.png">
          <div class="overlay">
            <button mat-stroked-button>Add to cart</button><br>
            <div style="padding: 7px;">
              <mat-icon><img src="assets/icons/share-22.svg"></mat-icon>
              <a >Share</a>
            </div>
            <div>
              <mat-icon><img src="assets/icons/heart2.svg"></mat-icon>
              <a >Like</a>
            </div>
          </div>
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image src="assets/Shoespics/product5.png">
          <div class="overlay">
            <button mat-stroked-button>Add to cart</button><br>
            <div style="padding: 7px;">
              <mat-icon><img src="assets/icons/share-22.svg"></mat-icon>
              <a >Share</a>
            </div>
            <div>
              <mat-icon><img src="assets/icons/heart2.svg"></mat-icon>
              <a >Like</a>
            </div>
          </div>
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image src="assets/Shoespics/product6.png">
          <div class="overlay">
            <button mat-stroked-button>Add to cart</button><br>
            <div style="padding: 7px;">
              <mat-icon><img src="assets/icons/share-22.svg"></mat-icon>
              <a >Share</a>
            </div>
            <div>
              <mat-icon><img src="assets/icons/heart2.svg"></mat-icon>
              <a >Like</a>
            </div>
          </div>
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image src="assets/Shoespics/product7.png">
          <div class="overlay">
            <button mat-stroked-button>Add to cart</button><br>
            <div style="padding: 7px;">
              <mat-icon><img src="assets/icons/share-22.svg"></mat-icon>
              <a >Share</a>
            </div>
            <div>
              <mat-icon><img src="assets/icons/heart2.svg"></mat-icon>
              <a >Like</a>
            </div>
          </div>
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image src="assets/Shoespics/product8.png">
          <div class="overlay">
            <button mat-stroked-button>Add to cart</button><br>
            <div style="padding: 7px;">
              <mat-icon><img src="assets/icons/share-22.svg"></mat-icon>
              <a >Share</a>
            </div>
            <div>
              <mat-icon><img src="assets/icons/heart2.svg"></mat-icon>
              <a >Like</a>
            </div>
          </div>
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      <!-- <div class="col">
        <mat-card>
          <img mat-card-image src="assets/Shoespics/product1.png">
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <img mat-card-image src="assets/Shoespics/product1.png">
          <mat-card-footer>
            <mat-card-title>
              Syltherine
            </mat-card-title>
            <mat-card-subtitle>
              Stylish cafe chair
            </mat-card-subtitle>
            <mat-card-content>
              <p><b>Rp 2,500.000</b> <i id="Price">Rp 2,500.000</i> </p>
            </mat-card-content>
          </mat-card-footer>
        </mat-card>
      </div>
      -->
    </div>
</div>
<button mat-stroked-button style="width: 245px;border-style: solid;border-color: #FF9350;border-radius: 0%;border-width: 1px;">Show More</button>
</div>
