<div class="container" style="padding-top: 2rem;padding-bottom: 2rem;">

  <div class="card">
    <div class="card-header">
      <h3><b>Your Wishlist</b></h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img src="assets/Shoespics/product2.png" height="70">
        </div>
        <div class="col">
          <b>Product1</b>
          <p>Very Nice Shoes</p>
        </div>
        <div class="col">
          <h4><b>Price</b></h4>
          <p>INR. 120000</p>
        </div>
        <div class="col">
          <button mat-button>Add to Cart <mat-icon matSuffix><img src="assets/icons/shopping-cart-w.svg" height="15"></mat-icon></button>

        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col">
          <img src="assets/Shoespics/product2.png" height="70">
        </div>
        <div class="col">
          <b>Product1</b>
          <p>Very Nice Shoes</p>
        </div>
        <div class="col">
          <h4><b>Price</b></h4>
          <p>INR. 120000</p>
        </div>
        <div class="col">
          <button mat-button>Add to Cart <mat-icon matSuffix><img src="assets/icons/shopping-cart-w.svg" height="15"></mat-icon></button>

        </div>

      </div>
    </div>

  </div>

</div>
