
	<div class="container">
		<div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <img src="assets/Shoespics/product2.png">
          </div>
          <div class="col-sm-6">
              <h1><b>Product Name</b></h1><i style="float: right;"><img src="assets/icons/heart.svg "></i>
              <h4 style="color: #FB8902;"><b>INR 120000</b><h6 style="text-decoration: line-through;color: grey;">INR 150000</h6></h4>
              <star-rating value="4.5" totalstars="5" checkedcolor="green" uncheckedcolor="grey" size="24px" readonly="true"></star-rating>
              <p style="color: green;">4.5 Rating</p>
              <hr>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates maiores culpa ipsa laborum ratione deleniti voluptate excepturi sint, illo quos. Velit veritatis soluta blanditiis atque quas? Beatae voluptatibus debitis eum.</p>
              <mat-form-field >
                <mat-label>Size</mat-label>
                <select matNativeControl required>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </mat-form-field>
              <div class="buttons" style="vertical-align: middle;">
                  <button mat-button>Buy Now <mat-icon matSuffix><img src="assets/icons/credit-card.svg" height="15"></mat-icon></button>
                  <button mat-button>Add to Cart <mat-icon matSuffix><img src="assets/icons/shopping-cart-w.svg" height="15"></mat-icon></button>
              </div>
            </div>
        </div>
      </div>
		</div>
	</div>
