<div class="container" style="padding-top: 2rem;padding-bottom: 2rem;">

    <div class="card">
      <div class="card-header">
        <b>Your Cart</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <img src="assets/Shoespics/product2.png" height="70">
          </div>
          <div class="col">
            <h4><b>Product1</b></h4>
            <p>Very Nice Shoes</p>
          </div>
          <div class="col">
            <h4><b>Quantity</b></h4>
            <div class="btn-group" role="group" aria-label="">
              <button type="button" class="btn btn-light">+</button>
             <button type="button" class="btn btn-light"><input class="form-control" value="0"></button>
              <button type="button" class="btn btn-light">-</button>
            </div>
          </div>
          <div class="col">
            <h4><b>Price</b></h4>
            <p>Rs.120000</p>
          </div>
          <div class="col">
            <button mat-button id="buy">Buy</button>
            <button mat-button id="remove">Remove</button>
          </div>

        </div>
      </div>

      <div class="card-footer text-muted">
        <div align="right">
          <h4>Total Price: <b>INR. 120000</b></h4>
          <button mat-button >Checkout</button>
        </div>
      </div>
    </div>

</div>
