<div class="container-fluid">
<div class="jumbotron jumbotron-fluid">

  <div class="row">
    <div class="col-4" id="explore">
    <h1 class="display-3">50+ Beautiful shoes
      inspiration</h1>
    <p class="lead">Our designer already made a lot of beautiful prototipe of rooms that inspire you</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Explore More</a>
    </p>
  </div>

    <div class="col-8">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide [width]='40'>
            <div class="slide">
                <img src="assets/Shoespics/inspire1.png">
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/Shoespics/inspire2.png">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/Shoespics/inspire1.png">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/Shoespics/inspire2.png">
            </div>
        </ng-template>

    </owl-carousel-o>

    </div>
</div>
</div>
