<div class="container-fluid">
  <mat-toolbar></mat-toolbar>
  <div id="carousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Shoespics/landshoe.png" alt="Los Angeles" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="assets/Shoespics/landshoe2.png" alt="Chicago" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="assets/Shoespics/landshoe.png" alt="New York" width="1100" height="500">
      </div>
    </div>

  </div>

  <div class="jumbotron">
    <div class="container text-black" id="JumboContent">
    <b><h1 class="display-1">High-Ended Shoes Just For You</h1></b>
    <hr class="my-2">
    <p>Our shoes is made from selected and best quality materials that are suitable for you.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" role="button">Shop Now</a>
    </p>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div>
       <mat-icon matPrefix style="vertical-align: middle;"> <img src="assets/icons/trophy.png" height="50"></mat-icon>
        <p><b>High Quality</b></p>
        <p>Crafted from top materials</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <mat-icon matPrefix style="vertical-align: middle;"> <img src="assets/icons/tick.png"></mat-icon>
        <p><b>Warranty Products</b></p>
        <p>Over 2 years</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <mat-icon matPrefix style="vertical-align: middle;">  <img src="assets/icons/shipping.png"></mat-icon>
        <p><b>Free Shipping</b></p>
        <p>Order over 150 $</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <mat-icon matPrefix style="vertical-align: middle;">  <img src="assets/icons/support.png"></mat-icon>
        <p><b>24 / 7 Support</b></p>
        <p>Dedicated support</p>
      </div>
    </div>

  </div>
</div>
