<mat-toolbar>
  <span><img src="assets/logo/logo@2x.png" height="50"></span>
  <span><button mat-button>Products</button></span>
  <span style="vertical-align: middle;"><button mat-button>
       <mat-label>Categories</mat-label>
      <mat-icon matSuffix style="margin-bottom: 11px;"><img src="assets/icons/chevron-down.svg"></mat-icon>
  </button></span>
  <span><button mat-button>Contact</button></span>
  <span class="example-spacer"></span>
  <span>
      <div id="searchbar">
        <mat-icon matPreffix><img src="assets/icons/search.svg"></mat-icon>


          <input matInput placeholder="Search your Dreams">



    </div>
  </span>
  <span class="example-spacer"></span>

  <img src="assets/icons/heart.svg" class="avatar" height="30" width="30">
  <img src="assets/icons/shopping-cart.svg" class="avatar" height="30" width="30">
  <img src="assets/logo/profile.png" class="avatar" height="30" width="30">

</mat-toolbar>
<ng-container>
  <app-parent-comp></app-parent-comp>
</ng-container>
<footer>
  <ng-container>

</ng-container>
</footer>
