mat-toolbar
  background-color: #F9F1E7
  display: flex
  padding:2rem
  color:#3A3A3A

.example-spacer
  flex: 50%

img
  margin-right: 1rem


#searchbar
    background-color: #ffffff
    width: 100%
    input
      border-color: white
      border-style: none
