<div class="container-fluid">
  <header align=center>
    <h4>Share your photo with</h4>
    <b><h1>#CobShopShoes</h1></b>
  </header>
<div class="container">
  <div class="gallery">
    <img src="assets/sharepic/share1.png">
  </div>
  <div class="gallery">
    <img src="assets/sharepic/share2.png">
  </div>
  <div class="gallery">
    <img src="assets/sharepic/share3.png">
  </div>
  <div class="gallery">
    <img src="assets/sharepic/share4.png">
  </div>
  <div class="gallery">
    <img src="assets/sharepic/share5.png">
  </div>
  <div class="gallery">
    <img src="assets/sharepic/share6.png">
  </div>
  <div class="gallery">
    <img src="assets/sharepic/share7.png">
  </div>
  <div class="gallery">
    <img src="assets/sharepic/share8.png">
  </div>
  <div class="gallery">
    <img src="assets/sharepic/share9.png">
  </div>
</div>
