<div class="container-fluid">
  <h2 align=center>Tips & Tricks</h2>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
      <div class="slide">

        <div class="card border-light">
          <img class="card-img-top" src="assets/tip/tip1.png">
          <div class="card-body">
            <h5 class="card-title">How to create a living
              room to love</h5>
            <p class="card-subtitle">20 jan 2020</p>

          </div>
        </div>
      </div>
  </ng-template>

  <ng-template carouselSlide>
      <div class="slide">
        <div class="card border-light">
          <img class="card-img-top" src="assets/tip/tip2.png">
          <div class="card-body">
            <h5 class="card-title">How to create a living
              room to love</h5>
            <p class="card-subtitle">20 jan 2020</p>

          </div>
        </div>
      </div>
  </ng-template>
  <ng-template carouselSlide>
      <div class="slide">
        <div class="card border-light">
          <img class="card-img-top" src="assets/tip/tip3.png">
          <div class="card-body">
            <h5 class="card-title">How to create a living
              room to love</h5>
            <p class="card-subtitle">20 jan 2020</p>

          </div>
        </div>
      </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="card border-light">
        <img class="card-img-top" src="assets/tip/tip1.png">
        <div class="card-body">
          <h5 class="card-title">How to create a living
            room to love</h5>
          <p class="card-subtitle">20 jan 2020</p>

        </div>
      </div>
    </div>
</ng-template>

</owl-carousel-o>
</div>
