<div class="container">
  <mat-card align=center>
<mat-card-title>
  <span><img src="assets/logo/profile.png" height="70" class="avatar"></span><br>
    <h3><b>Username</b></h3>
  </mat-card-title>

  <mat-card-content>
  <form class="example-form">
    <li>  <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="John">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="example-full-width">
        <mat-label>Phone No</mat-label>
        <input matInput placeholder="2032154631">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="example-full-width">
        <mat-label>Email Id</mat-label>
        <input matInput placeholder="John@gmail.com">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="street 22, NY"></textarea>
      </mat-form-field>
    </li>
  </form>
    <li>
      <button mat-button>Save</button>
    </li>


</mat-card-content>
</mat-card>

</div>
