<div class="container" style="padding-top: 2rem;padding-bottom: 2rem;">

  <div class="card">
    <div class="card-header">
      Your Wishlist
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img src="assets/Shoespics/product2.png" height="70">
        </div>
        <div class="col">
          <h4><b>Product1</b></h4>
          <p>Very Nice Shoes</p>
        </div>
        <div class="col">
          <h4><b>Price</b></h4>
          <p>Rs.120000</p>
        </div>
        <div class="col">
          <h4>Status</h4>
          <p style="color: green;">Arriving on 22,Aug</p>
        </div>

      </div>
    </div>

  </div>

</div>
